/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
.media .pull-left,.media .one-half,.media .one-third,.media .one-fourth,.media .two-third,.media .three-fourth,.media #steps .step .imgborder,#steps .step .media .imgborder,.media #steps .step .step-no,#steps .step .media .step-no,.media #steps .step .step-content,#steps .step .media .step-content{
margin-right:10px}
.media .pull-right,.media #steps #step-nav ul li.back,#steps #step-nav ul .media li.back,.media #faq .faq-entry a.top,#faq .faq-entry .media a.top{
margin-left:10px}
.media-list{
margin-left:0;
list-style:none}
.label,.badge{
display:inline-block;
padding:2px 4px;
font-size:10.998px;
font-weight:bold;
line-height:14px;
color:#fff;
vertical-align:baseline;
white-space:nowrap;
text-shadow:0 -1px 0 rgba(0,0,0,0.25);
background-color:#999}
.label{
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px}
.badge{
padding-left:9px;
padding-right:9px;
-webkit-border-radius:9px;
-moz-border-radius:9px;
border-radius:9px}
.label:empty,.badge:empty{
display:none}
a.label:hover,a.badge:hover{
color:#fff;
text-decoration:none;
cursor:pointer}
.label-important{
background-color:#b94a48}
.label-important[href]{
background-color:#953b39}
.label-warning{
background-color:#f89406}
.label-warning[href]{
background-color:#c67605}
.label-success{
background-color:#468847}
.label-success[href]{
background-color:#356635}
.label-info{
background-color:#3a87ad}
.label-info[href]{
background-color:#2d6987}
.label-inverse{
background-color:#333}
.label-inverse[href]{
background-color:#1a1a1a}
.badge-important{
background-color:#b94a48}
.badge-important[href]{
background-color:#953b39}
.badge-warning{
background-color:#f89406}
.badge-warning[href]{
background-color:#c67605}
.badge-success{
background-color:#468847}
.badge-success[href]{
background-color:#356635}
.badge-info{
background-color:#3a87ad}
.badge-info[href]{
background-color:#2d6987}
.badge-inverse{
background-color:#333}
.badge-inverse[href]{
background-color:#1a1a1a}
.btn .label,.btn .badge{
position:relative;
top:-1px}
.btn-mini .label,.btn-mini .badge{
top:0}
@-webkit-keyframes progress-bar-stripes{
from{
background-position:40px 0}
to{
background-position:0 0}
}
@-moz-keyframes progress-bar-stripes{
from{
background-position:40px 0}
to{
background-position:0 0}
}
@-ms-keyframes progress-bar-stripes{
from{
background-position:40px 0}
to{
background-position:0 0}
}
@-o-keyframes progress-bar-stripes{
from{
background-position:0 0}
to{
background-position:40px 0}
}
@keyframes progress-bar-stripes{
from{
background-position:40px 0}
to{
background-position:0 0}
}
.progress{
overflow:hidden;
height:20px;
margin-bottom:20px;
background-color:#f6f6f6;
background-image:-moz-linear-gradient(top, #f5f5f5, #f9f9f9);
background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
background-image:-webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
background-image:-o-linear-gradient(top, #f5f5f5, #f9f9f9);
background-image:linear-gradient(to bottom, #f5f5f5, #f9f9f9);
background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF5F5F5', endColorstr='#FFF9F9F9', GradientType=0);
-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);
-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);
box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px}
.progress .bar{
width:0%;
height:100%;
color:#fff;
float:left;
font-size:12px;
text-align:center;
text-shadow:0 -1px 0 rgba(0,0,0,0.25);
background-color:#0d90d1;
background-image:-moz-linear-gradient(top, #149bdf, #0480be);
background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
background-image:-webkit-linear-gradient(top, #149bdf, #0480be);
background-image:-o-linear-gradient(top, #149bdf, #0480be);
background-image:linear-gradient(to bottom, #149bdf, #0480be);
background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF149BDF', endColorstr='#FF0480BE', GradientType=0);
-webkit-box-shadow:inset 0 -1px 0 rgba(0,0,0,0.15);
-moz-box-shadow:inset 0 -1px 0 rgba(0,0,0,0.15);
box-shadow:inset 0 -1px 0 rgba(0,0,0,0.15);
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
-webkit-transition:width 0.6s ease;
-moz-transition:width 0.6s ease;
-o-transition:width 0.6s ease;
transition:width 0.6s ease}
.progress .bar+.bar{
-webkit-box-shadow:inset 1px 0 0 rgba(0,0,0,0.15),inset 0 -1px 0 rgba(0,0,0,0.15);
-moz-box-shadow:inset 1px 0 0 rgba(0,0,0,0.15),inset 0 -1px 0 rgba(0,0,0,0.15);
box-shadow:inset 1px 0 0 rgba(0,0,0,0.15),inset 0 -1px 0 rgba(0,0,0,0.15)}
.progress-striped .bar{
background-color:#149bdf;
background-image:-webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255,255,255,0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255,255,255,0.15)), color-stop(0.75, rgba(255,255,255,0.15)), color-stop(0.75, transparent), to(transparent));
background-image:-webkit-linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
background-image:-moz-linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
background-image:-o-linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
background-image:linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
-webkit-background-size:40px 40px;
-moz-background-size:40px 40px;
-o-background-size:40px 40px;
background-size:40px 40px}
.progress.active .bar{
-webkit-animation:progress-bar-stripes 2s linear infinite;
-moz-animation:progress-bar-stripes 2s linear infinite;
-ms-animation:progress-bar-stripes 2s linear infinite;
-o-animation:progress-bar-stripes 2s linear infinite;
animation:progress-bar-stripes 2s linear infinite}
.progress-danger .bar,.progress .bar-danger{
background-color:#dd514b;
background-image:-moz-linear-gradient(top, #ee5f5b, #c43c35);
background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#c43c35));
background-image:-webkit-linear-gradient(top, #ee5f5b, #c43c35);
background-image:-o-linear-gradient(top, #ee5f5b, #c43c35);
background-image:linear-gradient(to bottom, #ee5f5b, #c43c35);
background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEE5F5B', endColorstr='#FFC43C35', GradientType=0)}
.progress-danger.progress-striped .bar,.progress-striped .bar-danger{
background-color:#ee5f5b;
background-image:-webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255,255,255,0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255,255,255,0.15)), color-stop(0.75, rgba(255,255,255,0.15)), color-stop(0.75, transparent), to(transparent));
background-image:-webkit-linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
background-image:-moz-linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
background-image:-o-linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
background-image:linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent)}
.progress-success .bar,.progress .bar-success{
background-color:#5db95d;
background-image:-moz-linear-gradient(top, #62c462, #57a957);
background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#57a957));
background-image:-webkit-linear-gradient(top, #62c462, #57a957);
background-image:-o-linear-gradient(top, #62c462, #57a957);
background-image:linear-gradient(to bottom, #62c462, #57a957);
background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF62C462', endColorstr='#FF57A957', GradientType=0)}
.progress-success.progress-striped .bar,.progress-striped .bar-success{
background-color:#62c462;
background-image:-webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255,255,255,0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255,255,255,0.15)), color-stop(0.75, rgba(255,255,255,0.15)), color-stop(0.75, transparent), to(transparent));
background-image:-webkit-linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
background-image:-moz-linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
background-image:-o-linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
background-image:linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent)}
.progress-info .bar,.progress .bar-info{
background-color:#4bb1cf;
background-image:-moz-linear-gradient(top, #5bc0de, #339bb9);
background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#339bb9));
background-image:-webkit-linear-gradient(top, #5bc0de, #339bb9);
background-image:-o-linear-gradient(top, #5bc0de, #339bb9);
background-image:linear-gradient(to bottom, #5bc0de, #339bb9);
background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF5BC0DE', endColorstr='#FF339BB9', GradientType=0)}
.progress-info.progress-striped .bar,.progress-striped .bar-info{
background-color:#5bc0de;
background-image:-webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255,255,255,0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255,255,255,0.15)), color-stop(0.75, rgba(255,255,255,0.15)), color-stop(0.75, transparent), to(transparent));
background-image:-webkit-linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
background-image:-moz-linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
background-image:-o-linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
background-image:linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent)}
.progress-warning .bar,.progress .bar-warning{
background-color:#f9a732;
background-image:-moz-linear-gradient(top, #fbb450, #f89406);
background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
background-image:-webkit-linear-gradient(top, #fbb450, #f89406);
background-image:-o-linear-gradient(top, #fbb450, #f89406);
background-image:linear-gradient(to bottom, #fbb450, #f89406);
background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFBB450', endColorstr='#FFF89406', GradientType=0)}
.progress-warning.progress-striped .bar,.progress-striped .bar-warning{
background-color:#fbb450;
background-image:-webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255,255,255,0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255,255,255,0.15)), color-stop(0.75, rgba(255,255,255,0.15)), color-stop(0.75, transparent), to(transparent));
background-image:-webkit-linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
background-image:-moz-linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
background-image:-o-linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
background-image:linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent)}
.accordion{
margin-bottom:20px}
.accordion-group{
margin-bottom:2px;
border:1px solid #e5e5e5;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px}
.accordion-heading{
border-bottom:0}
.accordion-heading .accordion-toggle{
display:block;
padding:8px 15px}
.accordion-toggle{
cursor:pointer}
.accordion-inner{
padding:9px 15px;
border-top:1px solid #e5e5e5}
.carousel{
position:relative;
margin-bottom:20px;
line-height:1}
.carousel-inner{
overflow:hidden;
width:100%;
position:relative}
.carousel-inner>.item{
display:none;
position:relative;
-webkit-transition:0.6s ease-in-out left;
-moz-transition:0.6s ease-in-out left;
-o-transition:0.6s ease-in-out left;
transition:0.6s ease-in-out left}
.carousel-inner>.item>img{
display:block;
line-height:1}
.carousel-inner>.active,.carousel-inner>.next,.carousel-inner>.prev{
display:block}
.carousel-inner>.active{
left:0}
.carousel-inner>.next,.carousel-inner>.prev{
position:absolute;
top:0;
width:100%}
.carousel-inner>.next{
left:100%}
.carousel-inner>.prev{
left:-100%}
.carousel-inner>.next.left,.carousel-inner>.prev.right{
left:0}
.carousel-inner>.active.left{
left:-100%}
.carousel-inner>.active.right{
left:100%}
.carousel-control{
position:absolute;
top:40%;
left:15px;
width:40px;
height:40px;
margin-top:-20px;
font-size:60px;
font-weight:100;
line-height:30px;
color:#fff;
text-align:center;
background:#222;
border:3px solid #fff;
-webkit-border-radius:23px;
-moz-border-radius:23px;
border-radius:23px;
opacity:0.5;
filter:alpha(opacity=50)}
.carousel-control.right{
left:auto;
right:15px}
.carousel-control:hover{
color:#fff;
text-decoration:none;
opacity:0.9;
filter:alpha(opacity=90)}
.carousel-caption{
position:absolute;
left:0;
right:0;
bottom:0;
padding:15px;
background:#333;
background:rgba(0,0,0,0.75)}
.carousel-caption h4,.carousel-caption p{
color:#fff;
line-height:20px}
.carousel-caption h4{
margin:0 0 5px}
.carousel-caption p{
margin-bottom:0}
.hero-unit{
padding:60px;
margin-bottom:30px;
font-size:18px;
font-weight:200;
line-height:30px;
color:inherit;
background-color:#eee;
-webkit-border-radius:6px;
-moz-border-radius:6px;
border-radius:6px}
.hero-unit h1{
margin-bottom:0;
font-size:60px;
line-height:1;
color:inherit;
letter-spacing:-1px}
.hero-unit li{
line-height:30px}
.pull-right,#steps #step-nav ul li.back,#faq .faq-entry a.top{
float:right}
.pull-left,.one-half,.one-third,.one-fourth,.two-third,.three-fourth,#steps .step .imgborder,#steps .step .step-no,#steps .step .step-content{
float:left}
.hide{
display:none}
.show{
display:block}
.invisible{
visibility:hidden}
.affix{
position:fixed}
.clearfix{
*zoom:1}
.clearfix:before,.clearfix:after{
display:table;
content:"";
line-height:0}
.clearfix:after{
clear:both}
.hide-text{
font:0/0 a;
color:transparent;
text-shadow:none;
background-color:transparent;
border:0}
.input-block-level{
display:block;
width:100%;
min-height:30px;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box}
html,body{
background-color:#f5f5f5;
color:#585858;
-webkit-font-smoothing:antialiased}

::selection{
background:#FF44ae;
color:#fff;
text-shadow:none}
a{
color:#00a0c6;
outline:0 none}
a:hover{
color:#00a0c6;
text-decoration:underline}
a:active{
outline:none;
text-decoration:none}
a:link{
-webkit-tap-highlight-color:#FF44AE}
strong{
font-weight:bold}
select,input,textarea{
color:#585858}
h1,h2,h3,h4,h5,h6{
margin:0;
font-weight:bold;
font-style:normal}
h1{
font-size:36px;
color:#434343;
padding-bottom:7px;
line-height:38px}
h2{
font-size:30px;
color:#515151;
padding-bottom:7px;
line-height:32px}
h3{
font-size:24px;
color:#515151;
padding-bottom:28px;
line-height:26px}
h4{
font-size:18px;
color:#424242;
padding-bottom:7px;
line-height:20px}
h5{
font-size:16px;
color:#424242;
padding-bottom:7px;
line-height:18px}
h6{
font-size:14px;
color:#2B2B2B;
padding-bottom:7px;
line-height:16px}
p{
padding-bottom:10px;
margin:0}
ul,ol{
margin-bottom:20px;
margin-left:0;
padding-left:0;
display:inline-block;
list-style-type:none}
ul.grey-dots li{
position:relative;
margin:0;
padding:6px 8px 6px 28px;
list-style:none;
display:block;
background:transparent url(i_dots.png) no-repeat 10px 50%}
ul.white-dots li{
list-style:none;
padding:1px 0px 1px 13px;
background:transparent url(bullet.png) no-repeat 0 9px}
ul.check li{
list-style:none;
padding:5px 5px 5px 25px;
background:transparent url(check.png) no-repeat 0 7px}
ol{
list-style-type:decimal;
padding-left:20px}
ol li{
line-height:2em}
ol li a{
color:#585858}
ol li a:hover{
color:#00a0c6}
.inline-block-list,#steps #step-nav ul,#main-menu ul,#user-nav ul{
margin:0;
padding:0;
border:0;
overflow:hidden;
*zoom:1}
.inline-block-list li,#steps #step-nav ul li,#main-menu ul li,#user-nav ul li{
list-style-image:none;
list-style-type:none;
margin-left:0;
display:-moz-inline-stack;
display:inline-block;
vertical-align:middle;
*vertical-align:auto;
zoom:1;
*display:inline;
white-space:nowrap}
table{
border-collapse:separate;
border-spacing:0}
table thead{
color:#C9C9C9;
background-color:#373737;
border:1px solid #373737;
border-top:none}
table thead tr{
border-top:none;
color:#C9C9C9}
table th{
font-weight:bold;
padding:12px 20px}
table td{
vertical-align:top;
padding:12px 20px;
border-top:1px solid #d4d4d4}
table tr:hover{
background-color:#e6e6e6}
img.imgborder{
padding:6px;
-webkit-border-radius:2px;
-moz-border-radius:2px;
border-radius:2px;
background-color:#312E2A}
img.imgborder:hover{
background-color:#00a0c6;
border:none}
.clearfix{
zoom:1;
clear:both}
.hidden{
display:none;
visibility:hidden}
.height3{
height:60px !important}
.height4{
height:80px !important}
.height5{
height:100px !important}
.height6{
height:120px !important}
.height7{
height:140px !important}
.height8{
height:160px !important}

.wrapper{
width:960px;
margin:0 auto;
overflow:hidden;
*zoom:1}
.row .span12,.row .span4,.row .span8{
margin:0 10px}
#pagetitle{
background:#00a0c6 url(bg_slideshow.png) no-repeat 50% 0%;
overflow:hidden}
#pagetitle .pagetitle-footer{
background:url(title_bottom.png) repeat-x 0 100%;
overflow:hidden}
#pagetitle .pagetitle-footer .wrapper{
background:url(border_top.png) repeat-x 0% 0%;
padding:20px 0 30px;
overflow:hidden}
#pagetitle .pagetitle-footer .wrapper h1{
background:#211e1b;
padding:10px 15px;
line-height:24px;
color:#fff !important;
display:inline-block;
font-size:24px}
#content{
overflow:hidden;
padding:35px 0px}
#sidebar h4{
color:#515151;
padding:0 15px 10px}
#sidebar .sidebar-menu{
margin-bottom:20px}
.grid-4{
display:inline;
float:left;
position:relative;
margin-left:10px;
margin-right:10px;
width:220px}
#teasers .teaser{
background-color:#EFEFEF}
#teasers .teaser h3{
height:20px;
padding:30px 20px;
font-size:18px;
color:#FFF;
background-color:#211E1C;
text-decoration:none;
line-height:100%;
text-align:center;
border-bottom:6px solid #00a0c6;
-webkit-border-radius:2px 2px 0 0;
-moz-border-radius:2px 2px 0 0;
border-radius:2px 2px 0 0}
#teasers .teaser .grid-main{
padding:22px 10px;
text-align:center;
height:280px}
.teaser p{
line-height:20px}
.teaser p img{
margin-bottom:15px}
.grid-footer{
border-top:1px solid #e0dedd;
padding:22px 0 0 0;
margin:0 20px}
.col{
padding:35px 0;
margin:0 10px;
overflow:hidden}
.one-half,.one-third,.one-fourth,.two-third,.three-fourth{
margin:0 20px 0 0}
.one-half.last,.one-third.last,.one-fourth.last,.two-third.last,.three-fourth.last{
margin:0 !important}
.one-half{
width:460px}
.one-third{
width:300px}
.one-fourth{
width:220px}
.two-third{
width:620px}
.three-fourth{
width:700px}
#share{
background-color:#f5f5f5;
padding-bottom:20px}
#share .inline-block-list li,#share #steps #step-nav ul li,#steps #step-nav #share ul li,#share #main-menu ul li,#main-menu #share ul li,#share #user-nav ul li,#user-nav #share ul li{
padding-right:10px}
#construction{
width:350px;
margin:0 auto;
text-align:center}
#construction a{
display:block;
margin:20px 0 30px;
color:#585858;
font-size:18px}
#construction a:hover{
color:#00a0c6}
#header{
position:relative;
padding-top:7px;
background:#00a0c6 url(//oss.aliyuncs.com/vpncloud-a/assets/main_top_line-913a4299d03992ed23d6045826da959a.gif) repeat-x 0 0}
#logo{
display:inline;
position:relative;
margin-left:10px;
margin-right:10px;
padding:20px 0 16px;
float:left}
#nav-bar{
position:relative}
#main-menu{
position:absolute;
top:31px;
right:0;
text-align:right;
font-size:14px}
#user-nav{
position:absolute;
right:0;
text-align:right;
background:#26201b;
height:21px;
padding:0 10px 5px;
-webkit-border-bottom-right-radius:2px;
-moz-border-radius-bottomright:2px;
border-bottom-right-radius:2px;
-webkit-border-bottom-left-radius:2px;
-moz-border-radius-bottomleft:2px;
border-bottom-left-radius:2px}
#footer{
clear:both;
overflow:hidden;
background-color:#191715;
font-size:12px}
#totop{
height:54px;
background:transparent url(bg_totop.png) repeat-x 0 100%}
#totop a{
width:39px;
height:39px;
padding:0;
margin:0 auto;
display:block;
color:#919191;
text-decoration:none;
background:#00a0c6 url(i_arrow_top.png) no-repeat 100% 0%}
#totop a:hover{
background-color:#211e1c}
#go-on-top{
display:inline;
float:left;
position:relative;
margin-left:10px;
margin-right:10px;
width:940px}
#footer-additional{
background-color:#1C1917;
overflow:hidden;
border-bottom:1px solid #2b2b27}
#footer-additional .wrapper{
padding-top:17px}
#footer-content{
background-color:#211E1C;
overflow:hidden;
padding-top:60px;
padding-bottom:40px;
color:#cccccc}
#footer-content h4,#footer-content h5{
color:#FFF;
line-height:100%;
text-decoration:none;
padding-bottom:20px}
#footer-content .textwidget{
padding-right:30px}
#footer-content .white-dots li a{
color:#FFF;
padding:5px 0px 4px 0px;
display:inline-block}
#footer-content .white-dots li a:hover{
color:#00a0c6;
text-decoration:none}
#footer-content .more{
font-style:italic}
#footer-content .more:hover,#footer-content .contact li a:hover{
color:#FFF;
text-decoration:underline}
#footer-content .contact li{
height:30px;
color:#00a0c6;
font-size:14px;
font-weight:bold;
padding-left:35px}
#footer-content .email{
background:transparent url(email.png) no-repeat left top}
#footer-content .qq{
background:transparent url(qq.png) no-repeat left top}
#footer-content .phone{
background:transparent url(phone.png) no-repeat left top}
#footer-content .social-icons{
padding:0;
margin:0;
border:0;
overflow:hidden}
#footer-content .social-icons li{
list-style-image:none;
list-style-type:none;
margin-left:0px;
display:-moz-inline-box;
-moz-box-orient:vertical;
display:inline-block;
vertical-align:middle;
white-space:nowrap;
background:none;
padding:0 2px 5px 0}
#footer-content .social-icons li a:hover{
opacity:0.8;
filter:alpha(opacity=80)}
#sub-footer{
overflow:hidden;
min-height:49px}
#copyright{
padding:16px 0 15px;
float:left;
color:#6e6d68}
#pricing #teasers{
margin-top:20px !important}
#pricing #teasers .teaser{
font-weight:bold;
position:relative;
z-index:1}
#pricing #teasers .teaser .grid-main{
height:auto}
#pricing #teasers .teaser .grid-main p{
font-size:14px;
padding-bottom:20px}
#pricing #teasers .teaser .grid-main .summary{
color:#e49b00}
#pricing #teasers .teaser .grid-main .price{
font-size:24px;
color:#00a0c6}
#pricing #teasers .teaser .highlighted{
position:absolute;
top:-20px;
left:-10px;
width:70px;
height:70px;
background:transparent url(best_badge.png) no-repeat top right}
#guides{
margin:0}
#guides h2{
background-position:10px 0;
background-repeat:no-repeat;
padding-left:120px;
padding-bottom:15px;
line-height:50px}
#guides h2.desktop{
background-image:url(desktop_black.png)}
#guides h2.mobile{
background-image:url(mobile_black.png)}
#guides h4{
text-align:center;
font-weight:normal;
padding:10px 0}
#guides .clearfix{
margin-bottom:30px}
#guides .loader{
display:block;
width:208px;
height:131px;
background-color:#515151;
-webkit-border-radius:2px;
-moz-border-radius:2px;
border-radius:2px}
#steps #step-nav{
margin-bottom:30px}
#steps #step-nav ul{
width:100%}
#steps #step-nav ul li a{
display:block;
padding:7px 12px;
margin:0;
text-decoration:none;
line-height:20px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
background:#ededed;
color:#585858;
border:1px solid #c9c9c9}
#steps #step-nav ul li.active a,#steps #step-nav ul li a:hover{
background:#171514;
color:#fff;
border:1px solid #171514}
#steps #step-nav ul .title{
display:block;
padding:7px 10px 7px 0;
font-size:24px;
font-weight:bold}
#steps #step-nav ul li.back{
margin:0}
#steps #step-nav ul li.back a{
background:none;
border:0 none;
color:#00a0c6}
#steps #step-nav ul li.back a:hover{
text-decoration:underline}
#steps .step{
margin-bottom:50px !important}
#steps .step .imgborder{
padding:6px;
background-color:#312e2a;
-webkit-border-radius:2px;
-moz-border-radius:2px;
border-radius:2px}
#steps .step .imgborder .loader{
background:#515151}
#steps .step .imgborder .loader img{
display:block}
#steps .step .step-no{
width:60px;
height:60px;
background:#312e2a;
color:#fff;
clear:both;
text-align:center;
padding:0;
margin-right:15px}
#steps .step .step-no strong{
font-size:32px;
display:block;
padding:20px 0 0}
#steps .step .step-content h3{
padding-bottom:10px}
#steps .step .step-content p{
height:40px}
#steps .step:hover .imgborder,#steps .step:hover .step-no{
background-color:#00a0c6}
#steps .step:hover h3{
color:#00a0c6}
#steps .step.one-half .loader{
width:448px;
height:400px}
#steps .step.one-half .step-content{
width:380px}
#steps .step.one-third .loader{
width:288px;
height:435px}
#steps .step.one-third .step-content{
width:220px}
#faq .faq-entry{
background-color:#efefef;
margin-bottom:30px;
overflow:hidden}
#faq .faq-entry h6{
padding:0 10px;
color:#FFF;
background-color:#211E1C;
line-height:30px;
border-bottom:6px solid #00a0c6;
-webkit-border-radius:2px 2px 0 0;
-moz-border-radius:2px 2px 0 0;
border-radius:2px 2px 0 0}
#faq .faq-entry p{
margin:10px;
border-bottom:1px solid #e0dedd}
#faq .faq-entry a.top{
padding:0 10px 10px 10px;
color:#999}
#faq .faq-entry a.top:hover{
color:#00a0c6}
#features #teasers{
padding-bottom:30px}
#features #teasers .teaser .grid-main{
padding:10px;
height:250px}
#features #teasers .teaser .grid-main img{
margin:0 auto;
display:block}
#browsers .notification_warning{
margin:0 10px 30px 10px;
border:1px solid #eee3b1;
background:#f6f0d9 url(i_warning.png) no-repeat 19px 19px;
padding:20px 15px 15px 70px;
margin-bottom:30px;
color:#A47607;
clear:both}
#browsers .notification_warning h3{
color:#A47607;
padding-bottom:15px}
#browsers .grid-4{
text-align:center}
#browsers .grid-4 a{
display:block;
border:1px solid #f5f5f5}
#browsers .grid-4 a h4{
padding:5px 0 15px}
#browsers .grid-4 a:hover{
text-decoration:none;
background:#ececec;
border-color:#e6e6e6}
#browsers .grid-4 a:hover h4{
color:#00a0c6}
#main-menu ul li{
vertical-align:middle;
height:54px}
#main-menu ul li a{
display:block;
padding:18px 20px 19px}
#main-menu ul li a,#main-menu ul li a:visited{
color:#fff}
#main-menu ul li a:hover{
background-color:#211E1B;
text-decoration:none}
#main-menu ul li.active a{
background:transparent url(bg_menu.png) repeat 0 0}
#user-nav ul li{
margin:0;
color:#ccc;
font-size:12px}
#user-nav ul li a{
color:#fff;
padding:0 5px}
#user-nav ul li a:hover{
text-decoration:underline}
.sidebar-menu ul{
margin:0;
width:100%}
.sidebar-menu ul li{
background:url(i_arrow.png) no-repeat 0px 13px;
margin-left:17px;
position:relative;
padding:0 !important;
border-top:1px solid #e7e7e7}
.sidebar-menu ul li:first-child{
border:none !important}
.sidebar-menu ul li a{
color:#717171;
padding:8px 15px 7px;
display:block}
.sidebar-menu ul li a:hover{
color:#00a0c6;
text-decoration:none}
.sidebar-menu ul li.active a{
background:#211e1b url(i_arrow_light.png) no-repeat 10px 10px !important;
color:#fff !important;
padding-left:25px}
#feature{
overflow:hidden;
background-color:#00a0c6}
.feature-wrapper{
background:transparent url(bottom_shape.png) repeat-x 50% 100%;
min-height:35px;
overflow:hidden}
.flexslider{
background:transparent;
border:0 none;
-webkit-border-radius:0px;
-moz-border-radius:0px;
border-radius:0px}
.flexslider .slides{
background:transparent url(border_top.png) repeat-x 0% 0%;
height:360px;
padding-bottom:40px;
display:block}
.flex-direction-nav li a{
background:none}
.flex-control-nav{
bottom:25px}
.flex-control-nav li{
padding:0;
margin:0;
line-height:0px;
vertical-align:middle}
.flex-control-nav li:hover{
background-color:transparent}
.flex-control-nav li a{
width:8px;
height:8px;
background:transparent url(i_dot.png) no-repeat 0 0;
margin:0 5px 0}
.flex-control-nav li a:hover,.flex-control-nav li a.active{
background:transparent url(i_dot_act.png) no-repeat 0 0}
.button-clean{
background:#00a0c6 url(shape_button.png) repeat-x 0 100%}
.teaser .button-clean{
height:15px;
width:148px;
text-decoration:none;
text-align:center;
font-size:16px;
font-style:normal;
color:#FFF;
display:block;
border:0;
padding:12px 0px 15px 0px;
margin:0 auto 24px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px}
.teaser .button-clean:hover{
background-color:#211e1c}
.teaser .button-big-yellow{
background:#efefef url(big_yellow_button_bg.png) no-repeat 0 0;
color:#663300}
.teaser .button-big-yellow:hover{
background-position:0 -50px;
background-color:#efefef}
.button-light{
background:#ededed;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
display:inline-block;
padding:7px 11px;
color:#585858;
margin:0 5px 5px 0;
text-decoration:none;
border:1px solid #c9c9c9}
.button-light:hover{
background:#373737;
color:#fff;
border:1px solid #373737;
text-decoration:none}
.button-black{
background:#373737;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
display:inline-block;
padding:7px 11px;
color:#fff;
margin:0 5px 5px 0;
text-decoration:none;
border:1px solid #373737}
.button-black:hover{
background:#ededed;
color:#585858;
border:1px solid #c9c9c9;
text-decoration:none}
.button-dark{
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
display:inline-block;
color:#fff;
margin:0 0 0 0;
text-decoration:none;
font-style:normal;
height:35px;
line-height:35px;
padding:0 15px;
background:#00a0c6 url(shape_button.png) repeat-x 0 100%}
.button-dark span{
height:35px;
line-height:35px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px}
.button-dark:hover{
background:#171514 !important;
color:#fff;
text-decoration:none}
.button-action{
font-size:18px;
text-transform:uppercase;
color:#fff;
background-color:#ececec;
border:1px solid #e6e6e6;
padding:8px 9px;
overflow:hidden;
display:inline-block;
font-weight:600;
font-style:normal}
.button-action span{
background-color:#00a0c6;
padding:14px 18px;
display:block;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
-webkit-box-shadow:0 2px 0 #cbcbcb;
-moz-box-shadow:0 2px 0 #cbcbcb;
box-shadow:0 2px 0 #cbcbcb}
.button-action:hover{
color:#fff !important;
background:#312e2a;
border-color:#312e2a;
text-decoration:none}
.button-action:hover span{
-webkit-box-shadow:0 2px 0 #050505;
-moz-box-shadow:0 2px 0 #050505;
box-shadow:0 2px 0 #050505}
.marker span{
background-image:url(i_marker.png);
background-position:15px 12px;
background-repeat:no-repeat;
padding-left:60px}
.download span{
background-image:url(i_download.png);
background-position:15px 12px;
background-repeat:no-repeat;
padding-left:60px}
.button-yellow{
background-color:#e49b00 !important}
.button-green{
background-color:#769e0e !important}
.button-red{
background-color:#e42d00 !important}
.button-bright-yellow{
background:#00a0c6 url(yellow_button_bg.png) no-repeat 0 0;
text-align:center;
display:inline-block;
padding:0;
width:88px;
height:36px;
line-height:36px}
.button-bright-yellow span{
color:#663300;
font-size:14px;
font-style:normal}
.button-bright-yellow:hover{
background-position:0 -40px;
color:#663300;
text-decoration:none}
#order{
height:36px}
#order .button-bright-yellow{
padding:0px;
margin:10px}
#order .button-bright-yellow:hover{
background-color:transparent}
#new_user{
width:450px;
margin:0 auto}
#new_user .controls input{
width:250px;
height:17px;
padding:6px 5px 6px;
border-color:#dedede;
-webkit-border-radius:2px;
-moz-border-radius:2px;
border-radius:2px;
-webkit-box-shadow:inset 2px 2px 8px #f1f1f1;
-moz-box-shadow:inset 2px 2px 8px #f1f1f1;
box-shadow:inset 2px 2px 8px #f1f1f1;
font-size:12px}
#new_user .controls #user_remember_me{
width:auto;
height:auto;
margin-top:8px}
#new_user .controls .help-block{
width:250px}
#new_user .form-actions{
background:transparent;
border-top:0 none}
#new_user .form-actions .button-clean{
font-size:14px;
color:white;
border:0;
padding:0 15px;
margin-right:20px;
height:47px;
line-height:47px;
display:inline-block;
text-align:center;
-webkit-border-radius:2px;
-moz-border-radius:2px;
border-radius:2px}
#new_user .form-actions .button-clean:hover{
background:#171514}
.links{
margin:15px 0 0}
.links a{
padding:0 5px 0 15px;
color:#fff}

