<div id="share">
  <div class="wrapper">
    <div class="row">
      <div class="span12">
        <ul class="inline-block-list">
          <li>
            <a href="http://www.jiathis.com/send/?webid=twitter&amp;url=http://www.vpncloud.me/&amp;title=发现一个不错的服务：云梯 VPNCloud.me - 畅游全球网站，多设备同时在线，机房遍布全球，国内外智能加速，在线购买，自动开通。&amp;uid=1352915181670660" target="_blank">
              <img alt="分享到 Twitter" src="//oss.aliyuncs.com/vpncloud-a/assets/tweet-833e52cc094c610a807a7cdfa0f062b7.png" title="分享到 Twitter">
          </a>          </li>            
          <li>
            <a href="http://www.jiathis.com/send/?webid=fb&amp;url=http://www.vpncloud.me/&amp;title=发现一个不错的服务：云梯 VPNCloud.me - 畅游全球网站，多设备同时在线，机房遍布全球，国内外智能加速，在线购买，自动开通。&amp;uid=1352915181670660" target="_blank">
              <img alt="分享到 Facebook" src="//oss.aliyuncs.com/vpncloud-a/assets/facebook_share-944c399d3b6a4f24b5f439263d147818.png" title="分享到 Facebook">
          </a>          </li>            
          <li>
            <a href="http://www.jiathis.com/send/?webid=googleplus&amp;url=http://www.vpncloud.me/&amp;title=发现一个不错的服务：云梯 VPNCloud.me - 畅游全球网站，多设备同时在线，机房遍布全球，国内外智能加速，在线购买，自动开通。&amp;uid=1352915181670660" target="_blank">
              <img alt="分享到 Google+" src="//oss.aliyuncs.com/vpncloud-a/assets/googleplus_share-22833c1ab162c62e1efda11ae438b31f.png" title="分享到 Google+">
          </a>          </li>            
          <li>
            <a href="http://www.jiathis.com/send/?webid=tsina&amp;url=http://www.vpncloud.me/&amp;title=发现一个不错的服务：云梯 VPNCloud.me - 畅游全球网站，多设备同时在线，机房遍布全球，国内外智能加速，在线购买，自动开通。&amp;uid=1352915181670660" target="_blank">
              <img alt="分享到新浪微博" src="//oss.aliyuncs.com/vpncloud-a/assets/sinaweibo-2964e48ad1cf819a62cade0e8c6689da.gif" title="分享到新浪微博">
          </a>          </li>            
          <li>
            <a href="http://www.jiathis.com/send/?webid=renren&amp;url=http://www.vpncloud.me/&amp;title=发现一个不错的服务：云梯 VPNCloud.me - 畅游全球网站，多设备同时在线，机房遍布全球，国内外智能加速，在线购买，自动开通。&amp;uid=1352915181670660" target="_blank">
              <img alt="分享到人人网" src="//oss.aliyuncs.com/vpncloud-a/assets/renren-3b854ca1e5867b8abe78a896ed27373d.png" title="分享到人人网">
          </a>          </li>            
          <li>
            <a href="http://www.jiathis.com/send/?webid=douban&amp;url=http://www.vpncloud.me/&amp;title=发现一个不错的服务：云梯 VPNCloud.me - 畅游全球网站，多设备同时在线，机房遍布全球，国内外智能加速，在线购买，自动开通。&amp;uid=1352915181670660" target="_blank">
              <img alt="分享到豆瓣" src="//oss.aliyuncs.com/vpncloud-a/assets/douban-a7bd0dadeac22e37f6ad71d0a7d9606b.png" title="分享到豆瓣">
          </a>          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="totop">
  <div class="wrapper">
    <div id="go-on-top">
      <a href="#"></a>
    </div>
  </div>
</div>
<div id="footer-additional" class="clearfix">
  <div class="wrapper"></div>
</div>
<div id="footer-content" class="clearfix">
  <div class="wrapper">
    <div class="row">
      <div class="span12">
        <div class="one-half">
          <h4>关于我们</h4>
          <div class="textwidget">
            生命诚可贵，爱情价更高，若为自由故，两者皆可抛！<br>
            云梯致力于为同样渴望自由的朋友提供专业的 VPN 服务，用我们的技术和热情，为大家打造快速、安全、高效的 VPN 接入及解决方案，满足自由访问互联网、网络传输加密、保护隐私等多种需求。成熟的技术、专业的管理以及真诚的服务，让年轻热血的我们，帮助越来越多的人突破枷锁享受自由！<br>
            云梯VPNCloud.me 连接世界的梯子！
          </div>
        </div>
        <div class="one-fourth">
          <h4>常见问题</h4>
          <ul class="white-dots">
            <li>
              <a href="/faq/function#Q1">VPN 是什么</a>
            </li>
            <li>
              <a href="/faq/function#Q2">VPN 如何工作</a>
            </li>
            <li>
              <a href="/faq/function#Q3">PPTP 和 L2TP 的区别</a>
            </li>
          </ul>
          <div>
            <a href="/faq" class="more">了解更多</a>
          </div>
        </div>
        <div class="one-fourth last">
          <h4>联系我们</h4>
          <ul class="contact">
            <li class="email">
              <a class="contact-value" href="mailto:support@vpncloud.me">support@vpncloud.me</a>
            </li>
            <!-- <li class="qq"></li>
            <li class="phone"></li> -->
          </ul>
          <h5>关注我们</h5>
          <ul class="social-icons">
            <li>
              <a href="https://twitter.com/VPNCloud" target="_blank">
                <img alt="Twitter" src="//oss.aliyuncs.com/vpncloud-a/assets/twitter-2800a3e868d1ef9d09623920d9a2077d.png" title="Twitter">
            </a>  </li>
            <li>
              <a href="https://www.facebook.com/pages/云梯-VPNCloudme/411548455548359" target="_blank">
                <img alt="Facebook" src="//oss.aliyuncs.com/vpncloud-a/assets/facebook-b12cf4b9f72e9ef2be4f78be5a1d9419.png" title="Facebook">
            </a>  </li>
            <li>
              <a href="https://plus.google.com/u/2/106521780079005275461/posts" target="_blank"><img alt="Google Plus" src="//oss.aliyuncs.com/vpncloud-a/assets/googleplus-db488fe082901f0bcc9e1b3aba89743e.png" title="Google Plus"></a>  </li>
            <li>
              <a href="http://weibo.com/vpncloudme" target="_blank">
                <img alt="新浪微博" src="//oss.aliyuncs.com/vpncloud-a/assets/sinaminiblog-ab130e7b1c885298d8db89681de91b9b.gif" title="新浪微博">
            </a>  </li>
            <li>
              <a href="http://page.renren.com/601470925" target="_blank">
                <img alt="人人网" src="//oss.aliyuncs.com/vpncloud-a/assets/renren-4802b6bbe8eff00bc587daf3686e0ec9.gif" title="人人网">
            </a>  </li>
            <li>
              <a href="http://t.qq.com/vpncloud" target="_blank">
                <img alt="腾讯微博" src="//oss.aliyuncs.com/vpncloud-a/assets/qqmb-5ef3a28b71aeab66fe21505ba9d432fa.gif" title="腾讯微博">
            </a>  </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="sub-footer">
  <div class="wrapper">
    <div class="row">
      <div class="span12">
        <div id="copyright">
          © 2013 DD工作室 版权所有
        </div>
      </div>
    </div>
  </div>
</div>

